@model IEnumerable<Quokka_App.Model.LeadersAssigned>

@using Microsoft.AspNetCore.Identity
@using WebApplication1.Areas.Identity.Data
@inject UserManager<WebAppUser> UserManager

@{
    ViewData["Title"] = "Welcome Leader";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!--Show default page of leaders-->
<div class="nameContainer">
    <h3>
        Hi, @UserManager.GetUserAsync(User).Result.FirstName <br />
        You have total [  ] notifications(s).
    </h3>
    <hr style="width:70%;" />
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.leaderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.studentID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.leaderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.studentID)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
