@model IQueryable<StudentReports>
@inject UserManager<WebAppUser> UserManager

@{
    ViewData["Title"] = "View Monthly Status";
    Layout = "/Pages/Shared/_Layout.cshtml";
    var currentMonth = @DateTime.Now;
}


<div style="text-align:center;">
    <h4>
        Reports this month
    </h4>
    <b> Current Date/Time: @DateTime.Now.Month</b>
    <hr />
</div>

<!--Show table of previous reports of the students-->
<table class="table" border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Reported Emotion</th>
            <th>Report Date </th>
            <th>Appointment Date</th>
            <th>Student Comment</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

         <tr>
            <td>@Html.DisplayFor(modelItem => item.ID)</td>
            <td>@Html.DisplayFor(modelItem => item.Feeling)</td>
            <td>@Html.DisplayFor(modelItem => item.ReportDate)</td>
            <td>@Html.DisplayFor(modelItem => item.AppointmentDate)</td>
            <td>@Html.DisplayFor(modelItem => item.StudentComment)</td>

            @*@switch (item.EmotionReported)
            {
                case ("Happy"):<td>5</td>break;
                case ("Okay"):<td>4</td>break;
                case ("Annoyed"):<td>3</td>break;
                case ("Frustrated"):<td>2</td>break;
                case ("Angry"):<td>1</td>break;
                case ("Help"):<td>0</td>break; 
                default:break;
            }*@
        </tr>
    }
    </tbody>
</table>

<div>
    <a asp-action="Create">Back to main</a>
</div>

<script>
    function btn_Click() {
                return currentMonth = @DateTime.Now.Month - 1;
            }
</script>
